*{
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #080705;
}
body{
    background-color: #BF0603;
}
h1,h2,h3,
.foodprice{
    font-family: Impact, Charcoal, sans-serif;
    color: #BF0603;
    font-weight: lighter;
}
p{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #080705;
    font-size: 1.1em;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2.1em;
}
h3{
    font-size: 1.3em;
}
.form_element{
    margin-bottom: 1.5%;
    height: 3em;
}
/* Styling for containers, and other components except for menu components starts from here
    Please be sure read through all the classes, ids, and other attributes of the existing code so that there is no duplication of names and there no redundent code.
    Thanks
*/
.menu_nav{
    padding: 1.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3.5em, 1fr));
    justify-items: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2em;
    list-style: none;
}
.order_item{
    background-color: #E6C3A6;
    margin: 1%;
    padding: 1.5%;
    margin-bottom: 2.5%;
}
.order_container{
    background-color: #FFF1D0;
    padding: 1%;
}
.payment{
    display: none;
    background-color: #FFF1D0;
    padding: 1%;
}
article.confirmation{
    background-color: #FFF1D0;
    padding: 1%;
    display: none;
}
.order_status_bar{
    display: grid;
    background-color: #FFF1D0;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 2.5%;
}
#order_back_button{
    opacity: 0.65;
}
#confirmation_next_button{
    opacity: 0.65;
}
.payment_time{
    display: none;
}
.confirmation_time{
    display: none;
}
.sub_item{
    width: 100%;
    height: 100%;

}
.menu_nav button{
    margin: 0;
    cursor: pointer;
    border-radius: 0;
}
/* Styling for containers, and other components except for menu components ends here
    Please be sure read through all the classes, ids, and other attributes of the existing code so that there is no duplication of names and there no redundent code.
    Thanks
*/
/*styles for the all the cards starts here*/
.cardItem{
  margin: 1%;
}
.card_component{
  margin: 2.5%;
  padding: 4.5%;
}

strong{
  color: #bf0603;
  font-weight: bolder;
}

.foodname{
  font-size: 1.1em;
}

img.cardImage{
  max-width: 95%;
}


.food_item{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  justify-items: center;
  align-items: center;
  background-color: #FFF1D0;
  margin-bottom: 1%;
}

div.cardBar{

}

.button1,
.remove-button{
  border: none;
  background-color: #bf0603;
  padding: 1.5%;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #FFF1D0;
  margin: 1.0%;
  cursor: pointer;
  border-radius: 5px;
}

.view_cart{
  margin: 0%;
  padding: 0.25%;
  height: 45%;
  width: 15%;
}

.button1:hover{
    background-color: brown;
    color: #FFF1D0;
}

.card_component{
  padding: .25%;
}

.addtocart-btn{
  border: none;
  background-color: #bf0603;
  padding: 15.5%;
  padding-right: 20%;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #FFF1D0;
  margin: 1.0%;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
    .cardImage{
      display: none;
    }
    
}

/*styles for the cart starts here*/
h2.cart-main-heading{
  font-weight: bold;
  font-size: 2em;
  color: #bf0603;
}

.cart-heading{
  font-weight: bold;
  font-size: 1.25em;
}

.addtocart-row{
  display: flex;
}

.addtocart-row:last-child .addtocart-column{
    border: none;
}

.addtocart-row:last-child{
    border-bottom: 1px solid black;
}

.item-addtocart{
  width: 45%;
  align: left;
}

.addtocart-column{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.price-addtocart{
  width: 20%;
  font-size: 1.2em;
}

.quantity-addtocart{
  width: 35%;
}
img.cart-image {
  margin-left: 0px;
  width: 75px;
  height: auto;
  border-radius: 10px;
}

div span.cart-food-title {
    margin-left: 20px;
    font-size: 1.2em;
}

input.quantity-input{
  height: 34px;
  width: 50px;
  border-radius: 1.5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

div.food-total{
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

div strong.food-sum-title{
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 20px;
}

div span.food-sum-price{
  font-size: 1.1em;
}

.purchase-button{
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.7em;
}
.cart_summary{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: left;
  margin: 2.5%;
  justify-items: center;
}
.cart_contents{
  display: none;
  padding: 2.5%;
}