*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #080705;
}
.ui-datepicker-calendar {
  display: none;
}​
body{
    background-color: #CA2521;
    width: 100%;
}
h1,h2,h3,
.foodprice{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #CA2521;
    font-weight: bold;
}
.foodprice{
  color: #CA2521;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #080705;
    font-size: 1.1em;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2.1em;
}
h3{
    font-size: 1.3em;
}
.form_element{
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    height: 3em;
    border: none;
    font-style: italic;
    padding: 1.5%;
    background-color: #F9F3C5;
    color: black;
    width: 25%;
}
/* Styling for containers, and other components except for menu components starts from here
    Please be sure read through all the classes, ids, and other attributes of the existing code so that there is no duplication of names and there no redundent code.
    Thanks
*/
.order_parent{
  margin-top: 8.5vh;
}
.menu_nav{
    padding: 1.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(3.5em, 1fr));
    justify-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    list-style: none;
}
.order_item{
    background-color: #CA2521;
    padding: 1%;
    margin-bottom: 2.5%;
}
.order_item h2{
  color: #F9F3C5;
  margin-bottom: 1%;
}
.order_container{
    background-color: #F9F3C5;
}
.payment{
    display: none;
    background-color: #F9F3C5;
    padding: 1%;
}
article.confirmation{
    background-color: #F9F3C5;
    padding: 1%;
    display: none;
}
.order_status_bar{
    display: grid;
    background-color: #F9F3C5;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 2.5%;
    margin-top: 1.5%;
}
#order_back_button{
    opacity: 0.65;
}
#confirmation_next_button{
    opacity: 0.65;
}
.payment_time{
    display: none;
}
.confirmation_time{
    display: none;
}
.sub_item{
    width: 100%;
    height: 100%;

}
.menu_nav button{
    margin: 0;
    cursor: pointer;
    border-radius: 0;
}
/* Styling for containers, and other components except for menu components ends here
    Please be sure read through all the classes, ids, and other attributes of the existing code so that there is no duplication of names and there no redundent code.
    Thanks
*/

/*
  Styling for payment method starts here. Please be sure read through all the classes, ids, and other attributes of the existing code so that there is no duplication of names and there no redundent code.
  Thanks
*/
.card_number{
  width: 20%;
}
.cvv{
  width: 7.5%;
}

.exp_date{
  width: 7.5%;
}
/*styles for the all the cards starts here*/
.card_component{
  width: 85%;
  padding: 4.5%;
  margin: 2.5%;
  text-align: left;
}
strong{
  color: #CA2521;
  font-weight: bold;
}
.foodname{
  font-size: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #CA2521;
  font-weight: bold;
}
img.cardImage{
  max-width: 100%;
}
.addtocart-btn{
  border: none;
  width: 25%;
  background-color: #CA2521;
  padding: 1.5%;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #F9F3C5;
  margin: 1.0%;
  cursor: pointer;
  text-align: center;
  border-radius: 2.5px;
}
div.cardItem{
  width: 50%;
}
div.cardImage{
  width: 40%;
}
img.cardImage{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.food_item{
  display: flex;
  background-color: #F9F3C5;
  margin-bottom: 1%;
  justify-items: center;
  position: relative;
}
.dealbutton,
.button1,
.remove-button{
  border: none;
  background-color: #CA2521;
  padding: 1.5%;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #F9F3C5;
  margin: 1.0%;
  cursor: pointer;
  border-radius: 2.5px;
}
.button1:hover{
    background-color: brown;
    color: #F9F3C5;
}
.card_component{
  padding: .25%;
}

/*styles for the cart starts here*/
.cart_contents{
  display: flex;
  flex-wrap: wrap;
}
h2.cart-main-heading{
  width: 100%;
  text-align: center;
}
.view_cart{
  width: 100%;
}
.cart-heading{
  font-weight: bold;
  font-size: 1.25em;
}
.addtocart-row{
  display: flex;
}
.addtocart-row:last-child .addtocart-column{
    border: none;
}
.addtocart-row:last-child{
    border-bottom: 1px solid black;
}
.item-addtocart{
  width: 45%;
}
.addtocart-column{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.price-addtocart{
  width: 20%;
  font-size: 1.2em;
}
.quantity-addtocart{
  width: 35%;
}
img.cart-image {
  margin-left: 0px;
  width: 75px;
  height: auto;
  border-radius: 10px;
}
div span.cart-food-title {
    margin-left: 20px;
    font-size: 1.2em;
}
input.quantity-input{
  height: 34px;
  width: 50px;
  border-radius: 1.5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
div.food-total{
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}
div strong.food-sum-title{
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 20px;
}
div span.food-sum-price{
  font-size: 1.1em;
}
.purchase-button{
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.7em;
}
.cart_summary{
  display: flex;
  justify-items: center;
  margin-bottom: 2.5%;
}
.cart_contents{
  display: none;
  padding: 2.5%;
  margin-bottom: 2.5%;
}

/*main menu styles start here*/
header {
  position: relative;
  width: 100%;
  background: #E9E581;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 5;
}

.logo{
  color: #7B3E19 ;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0px 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}

nav.sitenavigation{
  float: right;
}

.clearfix{
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #7B3E19;
  font-weight: bolder;
}

nav ul li a.active {
  background: #CA2521;
  color: #CA2521;
  transition: 0.35s;
}
nav ul li a:hover{
  opacity: 0.75;
  color: white;
  background: #CA2521;
  transition: 0.35s;
}
/*footer*/
.fa {
    padding: 15px;
    font-size: 30px;
    font-family: Georgia;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;

}
.fa-facebook-f {
    background:rgba(255, 255, 255, 0);
    color: #CA2521;

}
.fa-instagram{
    color: #CA2521;
}
.fa-google{
    color: #CA2521;
}
.fa-youtube{
    color:#CA2521;
}
.fa-envelope{
    color:#CA2521;
}
.container {
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    justify-items: center;
    background: #CA2521;

    padding:2.5%;
}
*{
    margin:0;
    list-style: none;
    padding:0;
}
.dec {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
}
.dec li.footeritem{
    color: #CA2521;
    font-size:1.2em;
    height: 60px;
    width:60px;
    background: #F9F3C5;
    line-height:60px;
    border-radius:50%;
    margin-left:30%;
    margin-right: 30%;
    cursor:pointer;
    transition: .3s;
    position: center;
}
.dec li.footeritem:before{
    position:center;
    content:'';
    top:0;
    left:0;
    /*background:#d35400;*/
    height: 100%;
    width:100%;
    border-radius: 50%;
    z-index:-1;
    transform:scale(0.9);
    transition:.8s;
}
.dec li.footeritem:hover:before{
    filter:blur(3px);
    transform: scale(2);
    box-shadow: 0 0 30px #d35400;
}
.dec li.footeritem:hover{
    color: #CA2521;
    box-shadow: 0 20px 50px #060606;
    text-shadow: 0 20px 50px #CA2521;
}
a.footerbottom{
  font-size: .85em;
}
a.footerbottom:link{

    color: #F9F3C5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;

}
a.footerbottom:visited{
    color: #F9F3C5;
    text-decoration: none;
}
a.footerbottom:hover{
    color: #060606;
}

a.footerbottom:visited{
    color: #F9F3C5;
    text-decoration: none;
}
a.footerbottom:hover{
    color: #060606;
}
a.footerbottom:active{

    color: #060606;
}
/*main container*/
.flex-container{
    background-color: #CA2521;
    display: flex;
    height:100%;
}
.flex-container>div{
    background-color: #F9F3C5;
    width:100%;
    margin: 200px 30px 40px 30px;
    border-radius: 10px;
}
.child-container>div{
    background-color: #F9F3C5;
    display: flex;
    width:15%;
    margin: 20px 30px 20px 30px;
    border-radius: 10px;
    justify-content: flex-end;
    flex-direction: column;

}

.footer1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F9F3C5;
    font-size:25px;
    font-weight: lighter;

}
/*
Common Page styling begins here, please don't change before consulting IXD
*/
div.intro_slider{
  display: flex;
  flex-direction: column;
  position: relative;
}
div.intro_slider img, .slider_shade{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: right;
}
div.intro_slider img{
  position: fixed;
  top: 0;
  z-index: -2;
}
.slider_shade{
  position: fixed;
  top: 0;
  background-color: #E9E581;
  opacity: 0.7;
  z-index: -1;
}
.hero_slider{
  height: 100vh;
  width: 100vw;
  opacity: 100%;
  z-index: 0;
  padding: 2.5%;
  display: flex;
  align-items: flex-end;
  width: 50%;
}
.page_paragraph{
  padding: 2.5%;
  width: 100vw;
  width: 50%;
}
.unique_content{
  height: 100vh;
  width: 100vw;
  background-color:#F9F3C5;
  padding: 2.5%;
}
/*
Common Page styling ends here, please don't before consulting IXD
*/

/*
  Reservations unique content styling begins here
*/
  div.reservation{
    height: unset;
  }
  div.booking_process{
    width: 100%;
    margin: 1.5%;
    margin-top: 2.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10em, 1fr));
  }

  figure.booking_process{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
  }

  figure.booking_process img{
    width: 100%;
  }
  div.booking_description{
    align-self: flex-start;
  }
  div.booking{
    display: flex;
  }
  div.booking_form .form_element{
    width: 90%;
    background-color: transparent;
    border-bottom: black solid;
  }
  div.booking_form{
    width: 100%;
  }
  figure.booking{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
  }
  figure.booking img{
    width: 100%;
  }
  div.booking_done{
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    display: none;
  }
  figure.booking_done{
    padding-left: 15%;
    padding-right: 15%;
  }
  figure.booking_done img{
    width: 100%;
  }
/*
  Reservations unique content styling ends here
*/
@media (max-width: 1015px) {
  .navigation-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #CA2521;
  }
  .navigation-toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
  }
  .navigation-toggle.active:before {
    content: "\f00d";
  }
  nav.sitenavigation {
    display: none;
  }
  nav.sitenavigation.active {
    display: block;
    width: 100%;
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  nav.sitenavigation.active ul {
    display: block;
  }
  nav.sitenavigation.active ul li a{
    margin: 0;
  }
}
@media screen and (min-height: 800px){
  .hero_slider{
    height: 100vh;
  }
  .page_paragraph, .hero_slider{
    width: 100%;
  }
  .intro_slider, .unique_content{
    font-size: 1.4em;
  }
}
@media screen and (max-width: 750px) {
  .form_element{
    width: 90%;
  }
  .card_number{
    width: 40%;
  }
  .cvv{
    width: 27.5%;
  }

  .exp_date{
    width: 27.5%;
  }
  div.booking_form .form_element{
    width: 100%;
  }
  div.booking{
    flex-direction: column;
  }
  .page_paragraph, .hero_slider{
    width: 100%;
  }
  div.cardItem{
    width: 100%;
    height: 30vh;
  }
  .food_item{
    flex-direction: column;
    margin-bottom: 3%;
  }
  .cart-image{
    display: none;
  }
  .order_item{
    padding: 2.5%;
}
}

/*homepage unique content*/

.home_unique_content{
  background-color:#F9F3C5;
  padding: 2.5%;
}

.highlight {
  font-weight: bold;
}

div.dealcardItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.dealcard{
    margin: 30px;
    width: 350px;
    display: grid;
    border: black solid;
    background-color: #FFF1D0;
    transition: all .2s ease-in-out;
}

div.dealcard:hover{
  transform: scale(1.1);
}

div.dealcardItem{
    padding: 2.5%;
}

img.dealcardImage{
    width: 100%;
}

div h3.foodtitle{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  margin-top: 2px;
  margin-bottom: 9px;
}


div p.dealfood-details{
  display: flex;
  align-content: center;
  margin: 0px;
  padding: 3px;
}

.dealfoodprice{
  flex-grow: 1;
}

div.dealcardBar{
    display: flex;
}

.dealbutton {
  border: none;
  background-color: #bf0603;
  padding: 2.5%;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #FFF1D0;
  margin: 2.0%;
  cursor: pointer;
  transition: 0.4ms;
  border-radius: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.1em;
}
.dealbutton:hover{
  background-color: brown;
  color: #FFF1D0;
}

@media screen and (max-width: 300px) {
    div.dealcard{
        width: 100%;
    }
}

/*home page unique content styling ends here*/

/*Catering page unique content styling starts here*/

.form_element_date{
  width: 90%;
  font-style: italic;
}

/*Catering page unique content styling ends here*/

/* ------More Options------*/
.gallery {
    width:auto;
    margin: 20px 0px 5px 200px;
    float:left;
}
.gallery img{
    transition: 1s;
    width:50%;
    height:auto;

}
.gallery img:hover{

    transform:scale(1.9);
}
.desc{
    font-size: 25px;
    text-align: center;
    width:50%;

}
.footer{
    height:50px;
    margin-top:-50px;
    flex-shrink: 0;
}

/* -----Map----*/

.desc2{
    font-size:40px;
    color:#CA2521;
    font-weight: bold;
    text-align: -moz-center;
    width:50%;
    padding:20px;
    text-decoration: none;
}

.rate {
    width: auto;
    height:auto;
}
.gal{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #080705;
    font-size: 1.1em;
    padding:20px;
    text-align: justify;
}

.Darwin{
    Font-size:60px;
    color: #bf0603;
    font-weight:bold;
    position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.map{
    position:center;
    float: right;
    margin-right:200px;
    margin-top:40px;
    padding-top: 20px;

}
.schedule{
    Font-size:20px;
    color: #636363;
    float:left;
    margin-left:200px;

    font-family: 'Helvetica Neue';
}

